<% include ../partials/header %>

<section id="showDetail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="ui card mx-auto">
          <div class="image">
            <img src="<%= book.image_url %>" class="coverImage ui image fluid">
          </div>
          <div class="content">
            <a href="/books/<%= book.id %>" class="header">
              <%= book.title %></a>
            <div class="ui relaxed divided list">
              <div class="item">
                <div class="content">
                  <p>Author:
                    <%= book.author %>
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <p>Publisher:
                    <%= book.publisher %>
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <p>ISBN:
                    <%= book.isbn %>
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  Rating:
                  <div class="ui star rating" data-rating="<%= book.rating %>"></div>
                </div>
              </div>
            </div>
            <div class="ui very relaxed list">
              <div class="item">
                <div class="content d-flex justify-content-center">
                  <% if(currentUser && currentUser.isadmin) { %>
                  <div class="ui buttons">
                    <a href="/books/edit/<%= book.id %>" class="ui yellow button">Edit</a>
                    <div class="or" data-text="OR"></div>
                    <form action="/books/<%= book.id %>?_method=DELETE" method="POST">
                      <input type="Submit" class="ui red button" value="Delete" id="deleteButton">
                    </form>
                  </div>
                  <% } %>
                </div>
              </div>
              <div class="item">
                <div class="content d-flex justify-content-center">
                  <% if(currentUser) { %>
                  <div class="ui buttons">
                    <form action="/books/<%= book.id %>/cart" method="POST">
                      <input type="Submit" class="ui yellow button" value="Add to Cart" id="addToCartButton">
                    </form>
                    <div class="or" data-text="OR"></div>
                    <form action="/books/purchase/<%= book.id %>" method="POST">
                      <input type="Submit" class="ui purple button" value="Purchase" id="purchaseButton">
                    </form>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="ui fluid card h-100">
          <div class="content">
            <div class="header">Description</div>
            <div class="ui divided relaxed list">
              <div class="item">
                <div class="content">
                  <p>
                    <%- book.description %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="comments">
  <div class="container-fluid mb-3">
    <div class="row mb-2">
      <div class="col-md-10 mx-auto">
        <form action="/comments/<%= book.id %>" method="POST" class="ui form">
          <h2 class="ui dividing header">Leave Your Review</h2>
          <div class="field">
            <textarea name="comment" rows="3"></textarea>
          </div>
          <button class=" ui orange button float-right">Submit</button>
        </form>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-10 mx-auto">
        <div class="ui comments">
          <h2 class="ui dividing header">Read Other People's Opinion</h2>
          <% comments.forEach((comment) => { %>
          <div class="comment">
            <div class="content">
              <h3 class="author">
                <%= comment.user %>
              </h3>
              <div class="text">
                <%- comment.comment %>
              </div>
              <div class="action d-flex flex-direction-row">
                <!-- Add Edit And Delete Buttons Here -->
                <% if(currentUser && (currentUser.id === comment.user_id || currentUser.isadmin)) { %>

                <!-- Edit Button -->
                <button type="button" class="ui yellow button" data-toggle="modal" data-target="#myModal<%= comment.id %>">
                  Edit
                </button>

                <!-- Delete Button -->
                <form action="/comments/<%= comment.id %>/<%= book.id %>?_method=DELETE" method="POST">
                  <button class="ui red button">DELETE</button>
                </form>

                <!-- Edit Comment Modal. Data-backdrop is set to false due to a declaring the modal several levels deeper thant the body -->
                <div class="modal fade" id="myModal<%= comment.id %>" role="dialog" aria-hidden="true" data-backdrop="false">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">
                          Edit Comment
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/comments/<%= book.id %>/<%= comment.id %>?_method=PUT" method="post" class="ui form">
                          <div class="field">
                            <textarea name="comment" rows="5"><%- comment.comment %></textarea>
                          </div>
                          <button type="submit" class="ui violet button">Save Changes</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <% } %>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>